::-webkit-scrollbar {
  display: none; }

body {
  color: #BE1E2D;
  background-color: white;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 150%;
  overflow-y: hidden; }

.nav-visible {
  display: inline;
  height: 10%;
  padding: 0 0 0 0; }

.nav-disappear {
  display: inline;
  margin: 0 0 0 -5px;
  padding: 0 0 0 0; }

.main {
  margin-top: 10%; }

.section {
  margin: 200px 0 200px 0;
  padding: 100px 0 100px 0;
  background-color: white; }

.section-text p {
  color: gray;
  margin: 0 10% 0 10%; }

.section-text h1, h2, h3 {
  text-align: center; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
  height: 100%;
  width: 100%;
  overflow: hidden !important; }

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(179, 179, 179, 0.8);
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden !important; }

.container {
  width: 100% !important; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  transform: translateZ(0); }

.parallax__layer--back {
  transform: translateZ(-1px); }

.navbar-default {
  padding-top: 1%;
  background-color: white;
  border-color: #BE1E2D;
  text-transform: uppercase;
  font-size: 18px; }
  .navbar-default .navbar-brand {
    font-size: 32px;
    color: #BE1E2D; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #BE1E2D; }
  .navbar-default .navbar-text {
    color: #BE1E2D; }
  .navbar-default .navbar-nav > li > a {
    color: #BE1E2D; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #BE1E2D; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #BE1E2D;
    background-color: #BE1E2D; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #BE1E2D;
    background-color: #BE1E2D; }
  .navbar-default .navbar-toggle {
    border-color: #BE1E2D; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #BE1E2D; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #BE1E2D; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #BE1E2D; }
  .navbar-default .navbar-link {
    color: #BE1E2D; }
    .navbar-default .navbar-link:hover {
      color: #BE1E2D; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #BE1E2D; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #BE1E2D; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #BE1E2D;
    background-color: #BE1E2D; } }

/*# sourceMappingURL=home.css.map */
